<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterResidenceServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RegisterResidenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServletAdmin</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewResServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRegitrationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CancelRegitrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveRoomServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ReserveRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReseveRoomServlet2</servlet-name>
        <servlet-class>za.ac.tut.web.ReseveRoomServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReserveServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewReserveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSpaceServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CheckSpaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSpaceServlet2</servlet-name>
        <servlet-class>za.ac.tut.web.CheckSpaceServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReservedStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewReservedStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelReservationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CancelReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyResidence1</servlet-name>
        <servlet-class>za.ac.tut.web.ApplyResidence1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyReidence2</servlet-name>
        <servlet-class>za.ac.tut.web.ApplyReidence2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplicationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSpaceAdmin</servlet-name>
        <servlet-class>za.ac.tut.web.CheckSpaceAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRegitrationAdmin</servlet-name>
        <servlet-class>za.ac.tut.web.CancelRegitrationAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplicationStudent</servlet-name>
        <servlet-class>za.ac.tut.web.ViewApplicationStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApprovedServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewApprovedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomAllocationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RoomAllocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoomStudent</servlet-name>
        <servlet-class>za.ac.tut.web.ViewRoomStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterApplicationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FilterApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResManagerLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ResManagerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageAction</servlet-name>
        <servlet-class>za.ac.tut.web.SendMessageAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerListServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ManagerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResApplication</servlet-name>
        <servlet-class>za.ac.tut.web.ViewResApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResApplication</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateResApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReport</servlet-name>
        <servlet-class>za.ac.tut.web.AdminReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/RoleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <url-pattern>/AdminSignUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterResidenceServlet</servlet-name>
        <url-pattern>/RegisterResidenceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServletAdmin</servlet-name>
        <url-pattern>/UpdateServletAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResServlet</servlet-name>
        <url-pattern>/ViewResServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRegitrationServlet</servlet-name>
        <url-pattern>/CancelRegitrationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveRoomServlet</servlet-name>
        <url-pattern>/ReserveRoomServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReseveRoomServlet2</servlet-name>
        <url-pattern>/ReseveRoomServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReserveServlet</servlet-name>
        <url-pattern>/ViewReserveServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSpaceServlet</servlet-name>
        <url-pattern>/CheckSpaceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSpaceServlet2</servlet-name>
        <url-pattern>/CheckSpaceServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReservedStudentServlet</servlet-name>
        <url-pattern>/ViewReservedStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelReservationServlet</servlet-name>
        <url-pattern>/CancelReservationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyResidence1</servlet-name>
        <url-pattern>/ApplyResidence1.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyReidence2</servlet-name>
        <url-pattern>/ApplyReidence2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplicationServlet</servlet-name>
        <url-pattern>/ViewApplicationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/ApplicationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSpaceAdmin</servlet-name>
        <url-pattern>/CheckSpaceAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRegitrationAdmin</servlet-name>
        <url-pattern>/CancelRegitrationAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplicationStudent</servlet-name>
        <url-pattern>/ViewApplicationStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApprovedServlet</servlet-name>
        <url-pattern>/ViewApprovedServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomAllocationServlet</servlet-name>
        <url-pattern>/RoomAllocationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoomStudent</servlet-name>
        <url-pattern>/ViewRoomStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterApplicationServlet</servlet-name>
        <url-pattern>/FilterApplicationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResManagerLoginServlet</servlet-name>
        <url-pattern>/ResManagerLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListServlet</servlet-name>
        <url-pattern>/StudentListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageAction</servlet-name>
        <url-pattern>/SendMessageAction.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerListServlet</servlet-name>
        <url-pattern>/ManagerListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResApplication</servlet-name>
        <url-pattern>/ViewResApplication.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResApplication</servlet-name>
        <url-pattern>/UpdateResApplication.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReport</servlet-name>
        <url-pattern>/AdminReport.do</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>AdminResources</web-resource-name>
            <description/>
            <url-pattern>/menu.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/adminLogin.jsp</form-login-page>
            <form-error-page>/adminLoginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
</web-app>
